/* -------  FRONTEND MENTOR - MEET LANDING PAGE
            AUTHOR - ARATI D'SA --------- */

/* ------- CSS RESET ------- */
*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}

/* ------ CUSTOM PROPERTIES ------- */
:root{
    /* --- COLORS ---- */
    --color-white: #FAFAFA;
    --color-slate-300: #D1D1DF;
    --color-slate-600: #87879D;
    --color-slate-900: #28283D;
    --color-cyan-300: #8FE3F9;
    --color-cyan-600: #4D96A9;
    --color-purple-300: #D9B8FF;
    --color-purple-600: #855FB1;

    /* ---- FONT SIZE ----- */
    --font-size-12: 0.75rem;
    --font-size-14: 0.88rem;
    --font-size-16: 1rem;
    --font-size-18: 1.13rem;
    --font-size-32: 2rem;
    --font-size-36: 2.25rem;
    --font-size-40: 2.5rem;
    --font-size-48: 3rem;
    --font-size-64: 4rem;

    /* ---- FONT WEIGHT ----- */
    --font-weight-500: 500;
    --font-weight-900: 900;

    /* ---- FONT FAMILY ----- */
    --font-family-red-hat-display: "Red Hat Display", sans-serif;

    /* ---- FONT FAMILY ----- */
    --spacing-50: 0.25rem;
    --spacing-200: 1rem;
    --spacing-300: 1.5rem;
    --spacing-400: 2rem;
    --spacing-500: 2.5rem;
    --spacing-700: 3.5rem;
    --spacing-800: 4rem;
    --spacing-900: 4.5rem;
    --spacing-1000: 5rem;
}

/* ------ SHARED TYPOGRAPHY ------- */
.hero-description,
.feature-description,
.footer-description{
    line-height: 1.5;
}

/* ------ SHARED LAYOUT ------- */
/* ------ FLEX LAYOUT ------- */
.hero-content,
.meet-features,
.footer-content{
    display: flex;
    flex-direction: column;
}


/* ------ GLOBAL STYLES ------- */
body{
    background-color: var(--color-white);
    color: var(--color-slate-900);  
    font-family: var(--font-family-red-hat-display);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-500);
}

/* ------ MOBILE LAYOUT ------- */

/* ------ HEADER ------- */
.logo-container{
    padding-block-start: 3rem;    
}
.logo{
    margin-inline: auto;
}

/* ------HERO SECTION ------- */
.hero-section{
    padding-block: var(--spacing-800) var(--spacing-400);
}

.desktop-hero-left-img,
.desktop-hero-right-img{
    display: none;
}
.picture-gallery {
  width: 100%;
  margin-inline: auto;

  overflow: hidden;
}
.tablet-hero-img {
  width: 110%;
  max-width: none;

  transform: translateX(-5%);
}
.hero-content{
    margin-block-start: 3rem;
    padding-inline: var(--spacing-400);

    align-items: center;
    text-align: center;
    gap: var(--spacing-300);
}
.hero-title{
    max-inline-size: 18rem;

    font-size: var(--font-size-40);
    font-weight: var(--font-weight-900);
    line-height: 1.1;    
}
.hero-description{
    color: var(--color-slate-600);
}
.hero-actions{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-200);
}
.hero-button{
    padding: var(--spacing-200) var(--spacing-500); 
    
    font-weight: var(--font-weight-900);
    line-height: 1.5;
    word-spacing: var(--spacing-50);
    white-space: nowrap;
    
    color: var(--color-white); 
    text-decoration: none;
    border-radius: 1.81rem;     
}
.hero-download-button{
    background-color: var(--color-cyan-600);      
}
.hero-download-button span{
    color: var(--color-cyan-300);
}
.hero-what-button{
    background-color: var(--color-purple-600);
}

/* ------ MEET FEATURES SECTION ------- */
.meet-features{
    padding: var(--spacing-400) var(--spacing-400) var(--spacing-800);

    gap: var(--spacing-800);
}
.section-number{
    margin-inline: auto;
    width: 3.5rem;
    height: 8.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-end;
}
.line{
    width: 0.06rem;
    height: 5rem;
    margin-inline: auto;

    background-color: var(--color-slate-300); 
}
.number{    
    width: 3.5rem;
    height: 3.5rem;

    display: flex;
    justify-content: center;
    align-items: center;    

    font-weight: var(--font-weight-900);
    line-height: 1.5;

    color: var(--color-slate-600);
    border-radius: 50%;
    border: 0.06rem solid var(--color-slate-300);
    background-color: var(--color-white);
}
.feature-gallery{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: var(--spacing-200);
}
.feature-gallery img{
    border-radius: 0.63rem;
}
.feature-content{
    text-align: center;
}
.feature-eyebrow{
    font-size: var(--font-size-12);
    font-weight: var(--font-weight-900);
    line-height: 1.1;
    letter-spacing: 0.25rem;

    color: var(--color-cyan-600);
    text-transform: uppercase;
}
.feature-title{
    margin-block-start: var(--spacing-200);

    font-size: var(--font-size-32);
    font-weight: var(--font-weight-900);
    line-height: 1.1;
}
.feature-description{
    margin-block-start: var(--spacing-400);

    color: var(--color-slate-600);
}

/* ------ FOOTER ------- */
.footer-section{
    position: relative;    
}
.footer-content-container{
    position: absolute;
    top: 110px;    
    right: 0;
    left: 0;
    z-index: -1;
    isolation: isolate;

    background: url('../assets/mobile/image-footer.jpg');
    background-repeat: no-repeat;
    background-size: cover;

    color: var(--color-white);
    text-align: center;    
}
.footer-content-container::after{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;    

    background-color: var(--color-cyan-600);
    opacity: 0.8;
}
.footer-content{
    padding: var(--spacing-800) var(--spacing-400);
    align-items: center;
    gap: var(--spacing-300);
}
.footer-title{
    font-size: var(--font-size-32);
    font-weight: var(--font-weight-900);
    line-height: 1.1;
}
.footer-download-button{
     background-color: var(--color-purple-600);
}
.footer-download-button span{
    color: var(--color-purple-300);
}

/* ------ TABLET LAYOUT------- */
@media screen and (min-width: 48rem){

    /* ------HERO SECTION ------- */
    .hero-section{
        padding-block: var(--spacing-800);
    }
    .tablet-hero-img {
        width: 107%;

        transform: translateX(-3%);
    }
    .hero-content{
        margin-block-start: var(--spacing-900);
        padding-inline: 7.25rem;
    }
    .hero-title{
        max-inline-size: 20rem;

        font-size: var(--font-size-48);  
    }
    .hero-description{
        max-inline-size: 25rem;
    }
    .hero-actions{
        flex-direction: row;
        gap: 1.06rem;
    }  

    /* ------ MEET FEATURES SECTION ------- */
    .meet-features{
        padding: var(--spacing-700) var(--spacing-400) var(--spacing-800);
    }
    .feature-gallery{
        grid-template-columns: repeat(4,1fr);
        gap: var(--spacing-300);
    }
    .feature-content{
        padding-inline: 6.6rem;
    }
    .feature-eyebrow{
        font-size: var(--font-size-14);        
    }
    .feature-title{
        font-size: var(--font-size-36);  
        max-inline-size: 30rem;     
        margin-inline: auto; 
    }

    /* ------ FOOTER ------- */
    .footer-content{        
        padding-inline: 8rem;
    }
    .footer-title{
        font-size: var(--font-size-36);
    }
}

/* ------ DESKTOP LAYOUT------- */
@media screen and (min-width: 81.25rem){
    /* ------ HEADER ------- */
    .logo-container{
        padding-block-start: var(--spacing-1000);    
    }

    /* ------HERO SECTION ------- */
    .hero-section{
        display: grid;
        grid-template-columns: repeat(3,minmax(0, 1fr));
        gap: var(--spacing-400);
    }
    .desktop-hero-left-img,
    .desktop-hero-right-img{
        width: 107%;

        display: block;
    }
    .tablet-hero-img {
        display: none;
    }
    .desktop-hero-left-img{    
        transform: translateX(-7%);
    }
    .desktop-hero-right-img{
        padding-block-start: 3.5rem;
   
        transform: translateX(7%);      
    }
    .hero-content{
        margin: 0;
        padding: 0;
       
        justify-content: center;
        align-items: center;
        gap: var(--spacing-400);
    }
    .hero-title{
        max-inline-size: 27rem;

        font-size: var(--font-size-64);  
    }
    .hero-description{
        max-inline-size: 30rem;

        font-size: var(--font-size-18);
    }
}